
<h2 class="text-center pt-4">Connecting secret agents with the people that need them</h1>

<div class="d-flex justify-content-between pt-4">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>
</div>

<div class="container text-center pt-4">
  <h2 class="py-4">Like what you see? Find out more</h2>

  <%= link_to "Discover", "#", class: "btn btn-main" %>
</div>
