.form-container {
  margin: 8 auto;
  min-height: 60%;
  width: 50%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  padding:15px;
  box-sizing: border-box;
  border-radius: 8px;

}
